<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
    }

    html {
      font-size: 100%;
      font-family: sans-serif;
      color: #444;
      line-height: 1.7;
    }

    @media screen and (min-width: 768px) {
      html {
        font-size: 110%;
      }
    }

    @media screen and (min-width: 1200px) {
      html {
        font-size: 125%;
      }
    }

    body {
      font-size: 1rem;
    }

    a {
      color: #666;
      transition: color 0.15s ease, box-shadow 0.15s ease;
      text-decoration: none;
      box-shadow: inset 0 -1px 0 0 #666;
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff;
    }

    a:hover,
    a:focus,
    a:active {
      color: #4e91da;
      box-shadow: inset 0 -1px 0 0 #4e91da;
    }

    nav {
      background: #f2f2f2;
      padding: 1rem 1.5rem;
      line-height: 1;
      display: flex;
      justify-content: space-between;
    }

    nav ul {
      list-style: none;
    }

    nav li {
      display: inline-block;
    }

    nav li + li {
      padding-left: 1rem;
    }

    nav a {
      box-shadow: none;
      text-shadow: 1px 1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 2px 2px 0 #f2f2f2, -2px 2px 0 #f2f2f2;
    }

    nav a:hover {
      box-shadow: 0 1px 0 0 #4e91da;
    }

    main,
    footer {
      opacity: 0;
    }

    #loader {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>
