<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "loader.html" . }}
    <header>{{ partial "header.html" . }}</header>
    <main>
      {{ .Content }}
    </main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
