main,
footer {
  transition: opacity 0.5s;
  opacity: 1;
}

#loader {
  opacity: 0;
  transition: opacity 0.2s ease;
}

main {
  max-width: 40rem;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
  text-align: justify;
}

*::selection {
  background: #add4ff
}

a::selection {
  box-shadow: inset 0 -1px 0 0 #fff;
  text-shadow: none;
}
